[submodule "enqueter-api"]
  path = enqueter-api
  url = https://github.com/sawaryu/enqueter-api.git
  branch = master
[submodule "enqueter-front"]
  path = enqueter-front
  url = https://github.com/sawaryu/enqueter-front.git
  branch = master
[submodule "enqueter-web"]
  path = enqueter-web
  url = https://github.com/sawaryu/enqueter-web.git
  branch = master
[submodule "enqueter-terraform"]
  path = enqueter-terraform
  url = https://github.com/sawaryu/enqueter-terraform.git
  branch = master